In [1]:
#Import dependencies

import pandas as pd
import json

In [2]:
# import the csv data file

cbb_df = pd.read_csv("cbb.csv")
cbb_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,TWO_P_O,TWO_P_D,THREE_P_O,THREE_P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,35,22,111.2,94.7,0.8640,51.4,46.9,19.2,...,27.6,52.5,45.7,32.9,32.6,70.3,1.9,S16,7.0,2018
1753,LSU,SEC,35,28,117.9,96.6,0.9081,51.2,49.9,17.9,...,33.1,52.9,49.4,31.9,33.7,71.2,7.3,S16,3.0,2019
1754,Tennessee,SEC,36,31,122.8,95.2,0.9488,55.3,48.1,15.8,...,34.9,55.4,44.7,36.7,35.4,68.8,9.9,S16,2.0,2019
1755,Gonzaga,WCC,35,27,117.4,94.5,0.9238,55.2,44.8,17.1,...,28.1,54.3,44.4,37.8,30.3,68.2,2.1,S16,11.0,2016
1756,Gonzaga,WCC,37,32,117.2,94.9,0.9192,57.0,47.1,16.1,...,29.1,58.2,44.1,36.8,35.0,70.5,4.9,S16,4.0,2018

In [3]:
# inspect the df using df.info() to look for NaN values
cbb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        1757 non-null   object
 1   CONF        1757 non-null   object
 2   G           1757 non-null   int64
 3   W           1757 non-null   int64
 4   ADJOE       1757 non-null   float64
 5   ADJDE       1757 non-null   float64
 6   BARTHAG     1757 non-null   float64
 7   EFG_O       1757 non-null   float64
 8   EFG_D       1757 non-null   float64
 9   TOR         1757 non-null   float64
 10  TORD        1757 non-null   float64
 11  ORB         1757 non-null   float64
 12  DRB         1757 non-null   float64
 13  FTR         1757 non-null   float64
 14  FTRD        1757 non-null   float64
 15  TWO_P_O     1757 non-null   float64
 16  TWO_P_D     1757 non-null   float64
 17  THREE_P_O   1757 non-null   float64
 18  THREE_P_D   1757 non-null   float64
 19  ADJ_T       1757 non-null   float64
 20  WAB         1757 non-null   float64
 21  POSTSEASON  340 non-null    object
 22  SEED        340 non-null    float64
 23  YEAR        1757 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 329.6+ KB

In [4]:
cbb_df["Perc_Wins"] = round(cbb_df["W"] / cbb_df["G"], 2)
cbb_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,TWO_P_O,TWO_P_D,THREE_P_O,THREE_P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR,Perc_Wins
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016,0.82
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015,0.90
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018,0.82
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019,0.82
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,35,22,111.2,94.7,0.8640,51.4,46.9,19.2,...,52.5,45.7,32.9,32.6,70.3,1.9,S16,7.0,2018,0.63
1753,LSU,SEC,35,28,117.9,96.6,0.9081,51.2,49.9,17.9,...,52.9,49.4,31.9,33.7,71.2,7.3,S16,3.0,2019,0.80
1754,Tennessee,SEC,36,31,122.8,95.2,0.9488,55.3,48.1,15.8,...,55.4,44.7,36.7,35.4,68.8,9.9,S16,2.0,2019,0.86
1755,Gonzaga,WCC,35,27,117.4,94.5,0.9238,55.2,44.8,17.1,...,54.3,44.4,37.8,30.3,68.2,2.1,S16,11.0,2016,0.77
1756,Gonzaga,WCC,37,32,117.2,94.9,0.9192,57.0,47.1,16.1,...,58.2,44.1,36.8,35.0,70.5,4.9,S16,4.0,2018,0.86

In [5]:
cbb_df = cbb_df.loc[:,["YEAR", "CONF", "TEAM", "W", "G", "Perc_Wins"]]
cbb_df

      YEAR CONF            TEAM   W   G  Perc_Wins
0     2016  ACC  North Carolina  33  40       0.82
1     2015  B10       Wisconsin  36  40       0.90
2     2018  B10        Michigan  33  40       0.82
3     2019  B12      Texas Tech  31  38       0.82
4     2017  WCC         Gonzaga  37  39       0.95
...    ...  ...             ...  ..  ..        ...
1752  2018  SEC       Texas A&M  22  35       0.63
1753  2019  SEC             LSU  28  35       0.80
1754  2019  SEC       Tennessee  31  36       0.86
1755  2016  WCC         Gonzaga  27  35       0.77
1756  2018  WCC         Gonzaga  32  37       0.86

[1757 rows x 6 columns]

In [6]:
# filter data by year
cbb_2019_df = cbb_df.loc[cbb_df["YEAR"] == 2019, ["CONF", "TEAM", "W", "G", "Perc_Wins"]]
                                               
cbb_2019_df

      CONF        TEAM   W   G  Perc_Wins
3      B12  Texas Tech  31  38       0.82
6      ACC    Virginia  35  38       0.92
16     ACC        Duke  32  38       0.84
17     B10      Purdue  26  36       0.72
27     SEC    Kentucky  30  37       0.81
...    ...         ...  ..  ..        ...
1726  Amer     Houston  33  37       0.89
1734   B10    Michigan  30  37       0.81
1749   P12      Oregon  25  38       0.66
1753   SEC         LSU  28  35       0.80
1754   SEC   Tennessee  31  36       0.86

[353 rows x 5 columns]

In [7]:
# sort data by Perc_Wins
cbb_2019_df.sort_values(by="W", ascending=False, inplace=True)
cbb_2019_df

      CONF           TEAM   W   G  Perc_Wins
6      ACC       Virginia  35  38       0.92
1726  Amer        Houston  33  37       0.89
29     WCC        Gonzaga  33  37       0.89
16     ACC           Duke  32  38       0.84
1513   MAC        Buffalo  32  35       0.91
...    ...            ...  ..  ..        ...
428   BSth    USC Upstate   5  29       0.17
910    MWC   San Jose St.   4  30       0.13
212   Amer         Tulane   4  31       0.13
427   BSth  UNC Asheville   4  28       0.14
1409   WAC    Chicago St.   3  30       0.10

[353 rows x 5 columns]

In [8]:
# store dataframe in JSON format
cbb_2019_df.to_json("cbb_2019.json", orient = "split", compression = "infer", index = "true")

In [9]:
# reading the json file

json_2019_df = pd.read_json('cbb_2019.json', orient="split", compression = "infer")
json_2019_df

      CONF           TEAM   W   G  Perc_Wins
6      ACC       Virginia  35  38       0.92
1726  Amer        Houston  33  37       0.89
29     WCC        Gonzaga  33  37       0.89
16     ACC           Duke  32  38       0.84
1513   MAC        Buffalo  32  35       0.91
...    ...            ...  ..  ..        ...
428   BSth    USC Upstate   5  29       0.17
910    MWC   San Jose St.   4  30       0.13
212   Amer         Tulane   4  31       0.13
427   BSth  UNC Asheville   4  28       0.14
1409   WAC    Chicago St.   3  30       0.10

[353 rows x 5 columns]